* {
    margin: 0;
    padding: 0;
    color: #333;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

a:hover {
    color: red;
}

.bg-check {
    background-color: gray;
}

.d-flex {
    display: flex;
}

.d-block {
    display: block;
}

.d-none {
    display: none;
}

.jcb {
    justify-content: space-between;
}

.jcc {
    justify-content: center;
}

.aic {
    align-items: center;
}

.ofh {
    overflow: hidden;
}

.h-0 {
    height: 0;
}

.rel {
    position: relative;
}

.abs {
    position: absolute;
}

.fix {
    position: fixed;
}

.fw100 {
    font-weight: 100;
}

.fw200 {
    font-weight: 200;
}

.fw300 {
    font-weight: 300;
}

.fw400 {
    font-weight: 400;
}

.fw500 {
    font-weight: 500;
}

.text-center {
    text-align: center;
}

.container {
    width: 1200px;
    margin: 0 auto;
    background-color: antiquewhite;
}

.h100 {
    height: 100px;
}

.h200 {
    height: 200px;
}

.h300 {
    height: 300px;
}

.container {
    width: 1200px;
    margin: 0 auto;
}

/*layout*/
h1 {
    text-align: center;
}

.d2ul {
    position: absolute;
    text-align: center;
    top: 100%;
    min-width: 110px;
    height: 0;
    overflow: hidden;
    transition: 0.5s;
    z-index: 100000;
}

.d2ul>li {
    margin-top: 1rem;
}

.d2ul li>a {
    color: white;
}

.d2ul li:hover a {
    color: black;
    background-color: white;
    font-weight: bold;
}

.d1a {
    line-height: 100px;
    font-size: 1.8rem;
    padding: 0 2rem;
}

#gnb>li:hover {
    background-color: black;
}


#gnb>li {
    border: 1px solid white;
    background-color: gray;
}

#gnb:hover>li>a {
    color: white;
}

#gnb:hover .d2ul,
#gnb:hover::after {
    height: 150px;
}

#gnb::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 100%;
    background-color: black;
    height: 0;
    transition: 0.5s;
}